*{
    margin: 0;
    padding: 0;
}   

body{
    max-width: 720px;
    min-width: 320px;
    display: flex;
    justify-items: center;
    align-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    border: 2px solid;
}
.container{
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #eeeeee;
}

.header{
    background-color: #eeeeee;
    display: flex;
    width: 100%;
    align-items: center;
    margin: 30px;
    
}

.title{
    flex-grow: 1;
    text-align: center;
    color: #577AEA;
    font-weight: bolder;
    font-size: 50px;
}

.header > svg {
    height: 35px;
    width: 35px;
    margin: 10px;
    color:#687384 ;
}
.svgl{
    margin-left: 20px;
}
.svgl > svg{
    height: 35px;
    width: 35px;
    color:#687384 ;
}

.svgr{
    margin-right: 20px;
}
.svgr > svg{
    height: 35px;
    width: 35px;
    color:#687384 ;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: #687384;
    font-size: 20px;
}
.home{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 20px;
    gap: 5px;
    color: #2083CD;
    position: relative;
}
.home::after{
    content: " ";
    position: absolute;
    bottom: -20%;
    width: 100%;
    height: 2px;
    opacity: 50%;
    background-color: #2083CD;
}

.messeges{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 20px;
    gap: 5px;
}
.messeges:active{
    color: #2083CD;
}

.groups{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin: 20px;
    gap: 5px;
}
.groups:active{
    color: #2083CD;
}

.channels{
    display: flex;
    align-items: center;
    font-size: 20px;
    margin-right: 20px;
    gap: 5px;
}
.channels:active{
    color: #2083CD;
}
.khat{
    background-color: #f7f8fa;
    width: 100%;
    height: 2px;
    margin: 20px;
}
.contact-list{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #eeeeee;
    gap: 20px;
    align-items: center;
    
}
.contact-list-header{
    display: flex;
    align-items: center;
    width: 100%;
}

.contact-list-header > h2{
    flex-grow: 1;
    margin-left: 20px;
    color: #3d465d;
}

.contact-list-header > svg{
    margin-right: 20px;
    color: #3d465d;
    width: 35px;
    height: 35px;
}

.contact-1{
    background-color: #FEFEFE;
    display: flex;
    width: 90%;
    justify-items: center;
    align-items: center;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
}

.avatar-wrapper{
    position: relative;
    align-self: flex-end;
}

.avatar_pc{
    height: 100px;
    width: 100px;
    background-color: orangered;
    border-radius: 40%;
}

.avatar-wrapper::after{
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    border: 5px solid white;
    bottom: 0px;
    right: 0px;
}

.avatar-content{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 15px;
}

.avatar-content > span{
    color: #3d465d;
    font-size: x-large;
    font-weight: bolder;
    
}

.avatar-content > p{
    font-size: larger;
    color: #b5bac9;
}

.fasele{
    flex-grow: 1;
}

.clock_recive{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 40px;
    gap: 10px;
}
.clock_recive > span{
    height: 30px;
    margin-right: 5px;
    width: 30px;
    color: #3d465d;
}

.clock_recive > svg{
    width: 30px;
    height: 30px;
    color: green;
}

.contact-2{
    background-color: #FEFEFE;
    display: flex;
    width: 90%;
    justify-items: center;
    align-items: center;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
}
.avatar_pc2{
    height: 100px;
    width: 100px;
    background-color: yellow;
    border-radius: 40%;
}
.avatar-wrapper2{
    position: relative;
    align-self: flex-end;
}
.avatar-wrapper2::after{
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #b5bac9;
    border-radius: 50%;
    border: 5px solid white;
    bottom: 0px;
    right: 0px;
}
.payam{
    text-align: center;
    width: 30px;
    padding: 1px;
    color: white;
    background-color: #2083CD;
    border-radius: 25px;
}

.contact-3{
    background-color: #FEFEFE;
    display: flex;
    width: 90%;
    justify-items: center;
    align-items: center;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
}
.avatar_pc3{
    height: 100px;
    width: 100px;
    background-color:#2083CD;
    border-radius: 40%;
}
.avatar-wrapper3{
    position: relative;
    align-self: flex-end;
}
.avatar-wrapper3::after{
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #b5bac9;
    border-radius: 50%;
    border: 5px solid white;
    bottom: 0px;
    right: 0px;
}
.payam3{
    text-align: center;
    width: 30px;
    padding: 1px;
    color: white;
    background-color: #b5bac9;
    border-radius: 25px;
}

.contact-4{
    background-color: #FEFEFE;
    display: flex;
    width: 90%;
    justify-items: center;
    align-items: center;
    height: 100px;
    padding: 20px;
    border-radius: 20px;
}
.avatar_pc4{
    height: 100px;
    width: 100px;
    background-color:violet;
    border-radius: 40%;
}
.avatar-wrapper4{
    position: relative;
    align-self: flex-end;
}
.avatar-wrapper4::after{
    content: " ";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
    border: 5px solid white;
    bottom: 0px;
    right: 0px;
}

.main-contact{
    color: #2083CD;
    display: flex;
    align-items: center;
}

.main-contact > svg{
    margin-top: 5px;
    margin-left: 5px;
    height: 15px;
    width: 15px;
}